html {
    scroll-behavior: smooth;
}

body {
    /* memanggil font family lato yang udah di-install */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

img {
    width: 704px;
    height: 407px;
    background-color: #f1f3ff;
}

h1 {
    color: blue;
}

h3 {
    color: yellow;
}

/* styling untuk setiap elemem class */
div .p1 {
    font-size: 32px;
    font-weight: 300;
    color: coral;
}

div .p2 {
    font-size: 24px;
    font-weight: 400;
    color: deepskyblue;
}

div .p3 {
    font-size: 40px;
    font-weight: 900;
    color: goldenrod;
}

div .p4 {
    font-size: 56px;
    font-weight: 100;
    color: crimson;
}

div .p5 {
    font-size: 20px;
    font-weight: 700;
    color: darkorchid;
}
