* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

.header {
    background-color: #e9d6e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar p:not(:last-child) {
    margin-right: 32px;
}

main h1 {
    margin-left: 100px;
    margin-top: 50px;
}

footer {
    height: 250px;
    background-color: #e9d6e9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    align-items: center;
}

.footer-content .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 300px;
    margin-bottom: 30px;
}

footer h4 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 10px;
}
